<div class="convoyFrame">
    <div style="height: 45px;">
        <div style="float: right; height: 16px;">
            <img src="IMG/refresh.png" ng-click="fetchConvoy()" class="hoverImage" title="Refresh convoy data" />
            <img src="IMG/close.png" ng-click="closeConvoy()" class="hoverImage" title="Close convoy" />
        </div>
        <table class="header">
            <colgroup>
                <col width="10%" />
                <col width="10%" />
                <col width="5%" />
                <col width="10%" />
                <col width="5%" />
                <col width="20%" />
                <col />
            </colgroup>
            <tr>
                <td>Name</td>
                <td>Type</td>
                <td>Rank</td>
                <td>Owner</td>
                <td>Value</td>
                <td>Effect</td>
                <td>Description</td>
            </tr>
        </table>
    </div>
    <div class="convoyTableContainer">
        <table class="inventory">
            <colgroup>
                <col width="10%" />
                <col width="10%" />
                <col width="5%" />
                <col width="10%" />
                <col width="5%" />
                <col width="20%" />
                <col />
            </colgroup>
            <tbody ng-repeat="item in items | orderBy: getItemSortOrder()" ng-if="displayItemType(item.type)" ng-init="showExtInfo=false" ng-click="showExtInfo=!showExtInfo">
                <tr class="inventoryRow">
                    <td style="text-align: center;">{{item.name}}</td>
                    <td style="text-align: center;" ng-style="{'background-color' : getRowColor(item.type)}">{{item.type}}</td>
                    <td style="text-align: center;">{{item.rank}}</td>
                    <td>{{item.owner}}</td>
                    <td>{{item.value}}</td>
                    <td>{{item.effect}}</td>
                    <td>{{item.desc}}</td>
                </tr>
                <tr ng-show="showExtInfo" class="itemStats">
                    <td colspan="8" style="padding-left: 10px;">[{{item.name}} Stats] Might: {{item.might}} | Hit: {{item.hit}} | Crit: {{item.crit}} | Avo: {{item.avo}} | Crit. Eva: {{item.eva}} | Range: {{item.range}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div style="height: 60px;">
        <div style="margin-top: 15px; padding-left: 10px; display: inline-block; height: 50px; width: 455px;">
            <span class="showChkbx">
                <div class="checkbox" ng-click="showSword=!showSword"><span class="check" ng-if="showSword">&#10004;</span></div>
                <span class="checkboxLabel">Sword</span>
            </span>
            <span class="showChkbx">
                <div class="checkbox" ng-click="showLance=!showLance"><span class="check" ng-if="showLance">&#10004;</span></div>
                <span class="checkboxLabel">Lance</span>
            </span>
            <span class="showChkbx">
                <div class="checkbox" ng-click="showAxe=!showAxe"><span class="check" ng-if="showAxe">&#10004;</span></div>
                <span class="checkboxLabel">Axe</span>
            </span>
            <span class="showChkbx">
                <div class="checkbox" ng-click="showBow=!showBow"><span class="check" ng-if="showBow">&#10004;</span></div>
                <span class="checkboxLabel">Bow</span>
            </span>
            <span class="showChkbx">
                <div class="checkbox" ng-click="showKnife=!showKnife"><span class="check" ng-if="showKnife">&#10004;</span></div>
                <span class="checkboxLabel">Knife</span>
            </span>
            <br />
            <span class="showChkbx">
                <div class="checkbox" ng-click="showLight=!showLight"><span class="check" ng-if="showLight">&#10004;</span></div>
                <span class="checkboxLabel">Light</span>
            </span>
            <span class="showChkbx">
                <div class="checkbox" ng-click="showAnima=!showAnima"><span class="check" ng-if="showAnima">&#10004;</span></div>
                <span class="checkboxLabel">Anima</span>
            </span>
            <span class="showChkbx">
                <div class="checkbox" ng-click="showDark=!showDark"><span class="check" ng-if="showDark">&#10004;</span></div>
                <span class="checkboxLabel">Dark</span>
            </span>
            <span class="showChkbx">
                <div class="checkbox" ng-click="showStaff=!showStaff"><span class="check" ng-if="showStaff">&#10004;</span></div>
                <span class="checkboxLabel">Staff</span>
            </span>
            <span class="showChkbx">
                <div class="checkbox" ng-click="showOther=!showOther"><span class="check" ng-if="showOther">&#10004;</span></div>
                <span class="checkboxLabel">Other</span>
            </span>
        </div><div style="vertical-align: middle; display: inline-block; height: 50px; width: 125px;">
            <button class="showChkbx showAllButton" ng-click="setAllCheckboxes()">
                <span ng-if="allChecked()">Deselect All</span>
                <span ng-if="!allChecked()">Select All</span>
            </button>
        </div><div  style="margin-top: 15px; display: inline-block; height: 50px; width: 410px;">
            <button ng-click="updateSortOrder('name')" class="sortButton" ng-class="{'red' : getItemSortOrder() == 'name'}">Name</button>
            <button ng-click="updateSortOrder('type')" class="sortButton" ng-class="{'red' : getItemSortOrder() == 'type'}">Type</button>
            <button ng-click="updateSortOrder('rank')" class="sortButton" ng-class="{'red' : getItemSortOrder() == 'rank'}">Rank</button>
            <br />
            <button ng-click="updateSortOrder('owner')" class="sortButton" ng-class="{'red' : getItemSortOrder() == 'owner'}">Owner</button>
            <button ng-click="updateSortOrder('-value')" class="sortButton" ng-class="{'red' : getItemSortOrder() == '-value'}">Value</button>
        </div>
    </div>
</div>